

apprise_config_dir= # Example: /config
apprise_attach_dir= # Example: /attach
# apprise_stateful_mode=apprise_config_lock= # Example: no
# apprise_deny_services=# apprise_allow_services=allowed_hosts= # Example: *
apprise_recursion_max= # Example: 1
# apprise_worker_count=base_url= # Example: protocol://user:password@host:port/path
log_level= # Example: DEBUG
debug= # Example: yes
