# POSTGRES_HOST=postgres# POSTGRES_PORT=5432# POSTGRES_DB=postgres# POSTGRES_SSL_CERT=

PUBLIC_URL= # Example: protocol://user:password@host:port/path
__DEV__CLIENT_URL= # Example: myhiddensecret
# NODE_ENV=productionNODE_ENV= # Example: development
PORT= # Example: 3000

# PrinterCHROME_TOKEN= # Example: myhiddentoken
TOKEN= # Example: myhiddentoken
CHROME_URL= # Example: protocol://user:password@host:port/path

# RedisREDIS_URL= # Example: protocol://user:password@host:port/path

# PostgresDATABASE_URL= # Example: protocol://user:password@host:port/path

SECRET_KEY= # Example: myhiddenkey
ACCESS_TOKEN_SECRET= # Example: myhiddentoken
REFRESH_TOKEN_SECRET= # Example: myhiddentoken

JWT_SECRET= # Example: myhiddensecret
JWT_EXPIRY_TIME= # Example: 604800
STORAGE_BUCKET= # Example: default
# STORAGE_REGION=# STORAGE_ENDPOINT=# STORAGE_USE_SSL=false# PDF_DELETION_TIME=## -- Storage (Minio) --STORAGE_URL= # Example: protocol://user:password@host:port/path
STORAGE_ENDPOINT= # Example: minio
STORAGE_PORT= # Example: 9000
# STORAGE_REGION: us-east-1 # OptionalSTORAGE_BUCKET= # Example: resume
STORAGE_ACCESS_KEY= # Example: myhiddenkey
STORAGE_SECRET_KEY= # Example: myhiddenkey
STORAGE_USE_SSL= # Example: false

