WORDPRESS_DB_HOST= # Example: oxivia_mysql
WORDPRESS_DB_NAME= # Example: oxivia
WORDPRESS_DB_USER= # Example: username
WORDPRESS_DB_PASSWORD= # Example: Passw0rd
MYSQL_DATABASE= # Example: oxivia
MYSQL_USER= # Example: username
MYSQL_PASSWORD= # Example: Passw0rd
MYSQL_RANDOM_ROOT_PASSWORD= # Example: Passw0rd
