APP_NAME= # Example: "Numéris ISEP"
APP_ENV= # Example: production
APP_KEY= # Example: myhiddenkey
APP_DEBUG= # Example: false
APP_URL= # Example: protocol://user:password@host:port/path
FRONT_APP_URL= # Example: protocol://user:password@host:port/path
production= # Example: 1

LOG_CHANNEL= # Example: stack

DB_CONNECTION= # Example: mysql
DB_HOST= # Example: numeris_mysql
DB_PORT= # Example: 3306
DB_DATABASE= # Example: numeris
DB_USERNAME= # Example: username
DB_PASSWORD= # Example: Passw0rd
MYSQL_ROOT_PASSWORD= # Example: Passw0rd
PMA_HOST= # Example: numeris_mysql
PMA_USER= # Example: username
PMA_PASSWORD= # Example: Passw0rd

BROADCAST_DRIVER= # Example: log
CACHE_DRIVER= # Example: file
SESSION_DRIVER= # Example: file
SESSION_LIFETIME= # Example: 120
QUEUE_DRIVER= # Example: sync

REDIS_HOST= # Example: 127.0.0.1
REDIS_PASSWORD= # Example: Passw0rd
REDIS_PORT= # Example: 6379

MAIL_DRIVER= # Example: user.name@gmail.com
MAIL_HOST= # Example: user.name@gmail.com
MAIL_PORT= # Example: user.name@gmail.com
MAIL_USERNAME= # Example: user.name@gmail.com
MAIL_PASSWORD= # Example: Passw0rd
MAIL_ENCRYPTION= # Example: user.name@gmail.com
MAIL_FROM_ADDRESS= # Example: user.name@gmail.com
MAIL_FROM_NAME= # Example: user.name@gmail.com

PUSHER_APP_ID= # Example: myhiddenid
PUSHER_APP_KEY= # Example: myhiddenkey
PUSHER_APP_SECRET= # Example: myhiddensecret
PUSHER_APP_CLUSTER= # Example: mt1

MIX_PUSHER_APP_KEY= # Example: myhiddenkey
MIX_PUSHER_APP_CLUSTER= # Example: "${PUSHER_APP_CLUSTER}"

JWT_SECRET= # Example: myhiddensecret

GOOGLE_RECAPTCHA_KEY= # Example: myhiddenkey
GOOGLE_RECAPTCHA_SECRET= # Example: myhiddensecret
