docker-compose.yml
data/openvpn
data/secrets
data/certbot
data/searx
data/jenkins
data/beef
data/tmate/keys
data/authelia
data/mx-puppet-discord
data/matrix
data/heimdall
data/pihole/etc-pihole
data/pxe
data.tar.gz
services/template.yml
