MONGODB_HOST= # Example: mongo
MONGODB_PORT= # Example: 27017
MONGODB_USER= # Example: username
MONGODB_PASS= # Example: Passw0rd
CRON_TIME= # Example: "0 5 * * *"
INIT_BACKUP= # Example: 1
# MAX_BACKUPS     the number of backups to keep. When reaching the limit, the old backup will be discarded. No limit, by default