MINIO_BROWSER_REDIRECT_URL= # Example: protocol://user:password@host:port/path
MINIO_ROOT_USER= # Example: username
MINIO_ROOT_PASSWORD= # Example: Passw0rd

GOTRUE_SITE_URL= # Example: protocol://user:password@host:port/path
URI_ALLOW_LIST= # Example: protocol://user:password@host:port/path
GOTRUE_JWT_SECRET= # Example: myhiddensecret
GOTRUE_JWT_EXP= # Example: ${GOTRUE_JWT_EXP}
GOTRUE_DB_DRIVER= # Example: postgres
API_EXTERNAL_URL= # Example: protocol://user:password@host:port/path
DATABASE_URL= # Example: protocol://user:password@host:port/path
PORT= # Example: 9999

GOTRUE_SMTP_HOST= # Example: ${GOTRUE_SMTP_HOST}
GOTRUE_SMTP_PORT= # Example: ${GOTRUE_SMTP_PORT}
GOTRUE_SMTP_USER= # Example: username
GOTRUE_SMTP_PASS= # Example: Passw0rd

GOTRUE_MAILER_URLPATHS_CONFIRMATION= # Example: protocol://user:password@host:port/path
GOTRUE_MAILER_URLPATHS_INVITE= # Example: protocol://user:password@host:port/path
GOTRUE_MAILER_URLPATHS_RECOVERY= # Example: protocol://user:password@host:port/path
GOTRUE_MAILER_URLPATHS_EMAIL_CHANGE= # Example: protocol://user:password@host:port/path
GOTRUE_SMTP_ADMIN_EMAIL= # Example: user.name@gmail.com
GOTRUE_SMTP_MAX_FREQUENCY= # Example: ${GOTRUE_SMTP_MAX_FREQUENCY:-1ns}
GOTRUE_MAILER_AUTOCONFIRM= # Example: user.name@gmail.com
# Google OAuth configGOTRUE_EXTERNAL_GOOGLE_ENABLED= # Example: ${GOTRUE_EXTERNAL_GOOGLE_ENABLED}
GOTRUE_EXTERNAL_GOOGLE_CLIENT_ID= # Example: myhiddenid
GOTRUE_EXTERNAL_GOOGLE_SECRET= # Example: myhiddensecret
GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI= # Example: protocol://user:password@host:port/path
# GITHUB OAuth configGOTRUE_EXTERNAL_GITHUB_ENABLED= # Example: ${GOTRUE_EXTERNAL_GITHUB_ENABLED}
GOTRUE_EXTERNAL_GITHUB_CLIENT_ID= # Example: myhiddenid
GOTRUE_EXTERNAL_GITHUB_SECRET= # Example: myhiddensecret
GOTRUE_EXTERNAL_GITHUB_REDIRECT_URI= # Example: protocol://user:password@host:port/path
# Discord OAuth configGOTRUE_EXTERNAL_DISCORD_ENABLED= # Example: ${GOTRUE_EXTERNAL_DISCORD_ENABLED}
GOTRUE_EXTERNAL_DISCORD_CLIENT_ID= # Example: myhiddenid
GOTRUE_EXTERNAL_DISCORD_SECRET= # Example: myhiddensecret
GOTRUE_EXTERNAL_DISCORD_REDIRECT_URI= # Example: protocol://user:password@host:port/path

RUST_LOG= # Example: info
APPFLOWY_ENVIRONMENT= # Example: production
APPFLOWY_DATABASE_URL= # Example: protocol://user:password@host:port/path
APPFLOWY_REDIS_URI= # Example: protocol://user:password@host:port/path
APPFLOWY_GOTRUE_JWT_SECRET= # Example: myhiddensecret
APPFLOWY_GOTRUE_JWT_EXP= # Example: ${GOTRUE_JWT_EXP}
APPFLOWY_GOTRUE_BASE_URL= # Example: protocol://user:password@host:port/path
APPFLOWY_GOTRUE_EXT_URL= # Example: protocol://user:password@host:port/path
APPFLOWY_GOTRUE_ADMIN_EMAIL= # Example: user.name@gmail.com
APPFLOWY_GOTRUE_ADMIN_PASSWORD= # Example: Passw0rd
APPFLOWY_S3_USE_MINIO= # Example: ${APPFLOWY_S3_USE_MINIO}
APPFLOWY_S3_MINIO_URL= # Example: protocol://user:password@host:port/path
APPFLOWY_S3_ACCESS_KEY= # Example: myhiddenkey
APPFLOWY_S3_SECRET_KEY= # Example: myhiddenkey
APPFLOWY_S3_BUCKET= # Example: ${APPFLOWY_S3_BUCKET}
APPFLOWY_S3_REGION= # Example: ${APPFLOWY_S3_REGION}
RUST_LOG= # Example: info
ADMIN_FRONTEND_REDIS_URL= # Example: protocol://user:password@host:port/path
ADMIN_FRONTEND_GOTRUE_URL= # Example: protocol://user:password@host:port/path
