# PLAYLIST="https://www.youtube.com/watch?v=ePXzP0Ii6Ww&list=PLRPjNLhtUjPPXjTFNVvc69p6G0e87JL6E"# PLAYLIST_PATH="https://www.youtube.com/watch?v=yAZdobZvY3Q&list=PLRPjNLhtUjPM2QbscgElrRg-vam2U4Gw9&pp=gAQBiAQB"PLAYLIST_PATH= # Example: /root/downloads/list.txt
