ZITADEL_DATABASE_POSTGRES_HOST= # Example: postgres
ZITADEL_DATABASE_POSTGRES_PORT= # Example: 5432
ZITADEL_DATABASE_POSTGRES_DATABASE= # Example: zitadel
ZITADEL_DATABASE_POSTGRES_USER_USERNAME= # Example: username
ZITADEL_DATABASE_POSTGRES_USER_PASSWORD= # Example: Passw0rd
ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE= # Example: username

ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME= # Example: username
ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD= # Example: Passw0rd
ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE= # Example: disable
ZITADEL_EXTERNALSECURE= # Example: false

# ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_NAME=Admin