WORDPRESS_DB_HOST= # Example: business_mysql
WORDPRESS_DB_NAME= # Example: business
WORDPRESS_DB_USER= # Example: username
WORDPRESS_DB_PASSWORD= # Example: Passw0rd
# WORDPRESS_TABLE_PREFIX=...MYSQL_DATABASE= # Example: business
MYSQL_USER= # Example: username
MYSQL_PASSWORD= # Example: Passw0rd
MYSQL_RANDOM_ROOT_PASSWORD= # Example: Passw0rd
