POSTGRES_USER= # Example: username
POSTGRES_PASSWORD= # Example: Passw0rd
POSTGRES_DB= # Example: gitea
GITEA__database__TYPE= # Example: postgres
GITEA__database__HOST= # Example: postgres
GITEA__database__NAME= # Example: gitea
GITEA__database__USER= # Example: username
GITEA__database__PASSWD= # Example: Passw0rd
