AUTHENTIK_POSTGRESQL__HOST= # Example: postgres
AUTHENTIK_POSTGRESQL__NAME= # Example: authentik
AUTHENTIK_POSTGRESQL__USER= # Example: username
AUTHENTIK_POSTGRESQL__PASSWORD= # Example: Passw0rd
AUTHENTIK_DEBUG= # Example: true
PG_PASS= # Example: Passw0rd
AUTHENTIK_REDIS__HOST= # Example: redis
AUTHENTIK_SECRET_KEY= # Example: myhiddenkey
AUTHENTIK_EMAIL__HOST= # Example: user.name@gmail.com
AUTHENTIK_EMAIL__PORT= # Example: user.name@gmail.com
AUTHENTIK_EMAIL__USERNAME= # Example: user.name@gmail.com
AUTHENTIK_EMAIL__PASSWORD= # Example: Passw0rd
# # Use StartTLSAUTHENTIK_EMAIL__USE_TLS= # Example: user.name@gmail.com
# # Use SSLAUTHENTIK_EMAIL__FROM= # Example: user.name@gmail.com
AK_ADMIN_PASS= # Example: Passw0rd
AUTHENTIK_LISTEN__HTTP= # Example: 0.0.0.0:80
AUTHENTIK_LISTEN__HTTPS= # Example: 0.0.0.0:443
AUTHENTIK_LISTEN__LDAP= # Example: 0.0.0.0:389
AUTHENTIK_LISTEN__LDAPS= # Example: 0.0.0.0:636

AUTHENTIK_HOST= # Example: http://authentik
AUTHENTIK_INSECURE= # Example: true
AUTHENTIK_TOKEN= # Example: myhiddentoken
