PUID= # Example: myhiddenid
PGID= # Example: myhiddenid
TZ= # Example: Etc/UTC

APP_URL= # Example: protocol://user:password@host:port/path

APP_KEY= # Example: myhiddenkey

DB_CONNECTION= # Example: postgresql
DB_HOST= # Example: postgres
DB_PORT= # Example: 5432
DB_DATABASE= # Example: bookstack
DB_USERNAME= # Example: username
DB_PASSWORD= # Example: Passw0rd

