TUNNEL_TOKEN= # Example: myhiddentoken
CLOUDFLARED_TOKEN= # Example: myhiddentoken
CLOUDFLARE_API_TOKEN= # Example: myhiddentoken
CLOUDFLARE_ACCOUNT_ID= # Example: myhiddenid
CLOUDFLARE_TUNNEL_ID= # Example: myhiddenid
CLOUDFLARE_ZONE_ID= # Example: myhiddenid
# DOMAIN_NAME=traefik.marcpartensky.comTRAEFIK_API_ENDPOINT= # Example: http://traefik:8080
TRAEFIK_SERVICE_ENDPOINT= # Example: http://traefik:80
TRAEFIK_ENTRYPOINT= # Example: web
