DJANKISERV_MAINDB_ENGINE= # Example: django.db.backends.postgresql
DJANKISERV_MAINDB_NAME= # Example: djankiserv
DJANKISERV_MAINDB_USER= # Example: username
DJANKISERV_MAINDB_PASSWORD= # Example: Passw0rd
DJANKISERV_MAINDB_HOST= # Example: postgres
DJANKISERV_MAINDB_PORT= # Example: 5432

DJANKISERV_USERDB_ENGINE= # Example: username
DJANKISERV_USERDB_NAME= # Example: username
DJANKISERV_USERDB_USER= # Example: username
DJANKISERV_USERDB_PASSWORD= # Example: Passw0rd
DJANKISERV_USERDB_HOST= # Example: username
DJANKISERV_USERDB_PORT= # Example: username

HOST= # Example: 0.0.0.0
PORT= # Example: 8000

DJANKISERV_DEBUG= # Example: True
# DJANKISERV_DATA_ROOT=/code/dataDJANKISERV_SECRET_KEY= # Example: myhiddenkey
# DJANKISERV_ALLOWED_HOSTS='djankiserv.marcpartensky.com'DJANKISERV_ALLOWED_HOSTS= # Example: "*"
DJANKISERV_HOSTS= # Example: djankiserv
DJANGO_DEBUG= # Example: 1
# DJANGO_ALLOWED_HOSTS="*,localhost"# ALLOWED_HOSTS="*,localhost"ALLOWED_HOSTS= # Example: *
DJANGO_SETTINGS_MODULE= # Example: djankiserv_api.settings
PYTHON_APP= # Example: /app/src

