NODE_ENV= # Example: docker
ADMIN_NAME= # Example: marc
ADMIN_PASSWORD= # Example: Passw0rd
JWT_SECRET= # Example: myhiddensecret
DB_HOST= # Example: postgres
DB_USER= # Example: username
DB_PASSWORD= # Example: Passw0rd
DB_NAME= # Example: dockerdash
