DB_ENGINE= # Example: postgres
DATABASE_NAME= # Example: etesync
DATABASE_USER= # Example: username
DATABASE_HOST= # Example: postgres
DATABASE_PASSWORD= # Example: Passw0rd
DATABASE_PORT= # Example: 5432
SUPER_USER= # Example: username
SUPER_PASS= # Example: Passw0rd
SUPER_EMAIL= # Example: user.name@gmail.com
SECRET_KEY= # Example: myhiddenkey
DEBUG= # Example: False
AUTO_UPDATE= # Example: true
# ALLOWED_HOSTS=etesync.marcpartensky.fr,etesync.marcpartensky.comALLOWED_HOSTS= # Example: etesync.marcpartensky.fr
