ADMIN_PASSWORD= # Example: Passw0rd
DB_TYPE= # Example: postgres
DB_USER= # Example: username
DB_HOST= # Example: postgres
DB_PORT= # Example: 5432
DB_PASS= # Example: Passw0rd
DB_NAME= # Example: etherpad
DB_CHARSET= # Example: utf8mb4
# REQUIRE_AUTHENTICATION=trueREQUIRE_AUTHENTICATION= # Example: false

# ne marche pasSSO_ISSUER= # Example: https://authentik.marcpartensky.com
ADMIN_CLIENT= # Example: myhiddensecret
ADMIN_SECRET= # Example: myhiddensecret
COMMIT_RATE_LIMIT_POINTS= # Example: 150
