TZ= # Example: Europe/Paris

F2B_LOG_TARGET= # Example: STDOUT
F2B_LOG_LEVEL= # Example: INFO
F2B_DB_PURGE_AGE= # Example: 1d

SSMTP_HOST= # Example: smtp.gmail.com
SSMTP_PORT= # Example: 587
SSMTP_HOSTNAME= # Example: gmail.com
SSMTP_USER= # Example: username
SSMTP_PASSWORD= # Example: Passw0rd
SSMTP_TLS= # Example: YES
