SYNCSERVER_PUBLIC_URL= # Example: protocol://user:password@host:port/path
SYNCSERVER_SECRET= # Example: myhiddensecret
SYNCSERVER_SQLURI= # Example: protocol://user:password@host:port/path
SYNCSERVER_BATCH_UPLOAD_ENABLED= # Example: true
SYNCSERVER_FORCE_WSGI_ENVIRON= # Example: false
PORT= # Example: 5000
