GF_INSTALL_PLUGINS= # Example: grafana-mqtt-datasource,redis-datasource,cloudflare-app

GF_SERVER_ROOT_URL= # Example: protocol://user:password@host:port/path
GF_SERVER_DOMAIN= # Example: grafana.marcpartensky.com
GF_SECURITY_ALLOW_EMBEDDING= # Example: protocol://user:password@host:port/path
GF_AUTH_ANONYMOUS_ENABLED= # Example: True

# GF_SERVER_SERVE_FROM_SUB_PATH=false# GF_SERVER_ENFORCE_DOMAIN=true# GF_REVERSE_PROXY_HEADERS_X_FORWARDED_PROTO=true# GF_REVERSE_PROXY_HEADER_X_FORWARDED_HOST=true 

# PostgresGF_DATABASE_TYPE= # Example: postgres
GF_DATABASE_HOST= # Example: postgres
GF_DATABASE_NAME= # Example: grafana
GF_DATABASE_USER= # Example: username
GF_DATABASE_PASSWORD= # Example: Passw0rd
GF_DATABASE_SSL_MODE= # Example: disable

GF_AUTH_GENERIC_OAUTH_ENABLED= # Example: true
GF_AUTH_OAUTH_AUTO_LOGIN= # Example: true
GF_AUTH_GENERIC_OAUTH_NAME= # Example: Authentik
GF_AUTH_GENERIC_OAUTH_CLIENT_ID= # Example: myhiddenid
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET= # Example: myhiddensecret
GF_AUTH_GENERIC_OAUTH_SCOPES= # Example: openid profile email
GF_AUTH_GENERIC_OAUTH_AUTH_URL= # Example: protocol://user:password@host:port/path
GF_AUTH_GENERIC_OAUTH_TOKEN_URL= # Example: myhiddentoken
GF_AUTH_GENERIC_OAUTH_API_URL= # Example: protocol://user:password@host:port/path
GF_AUTH_SIGNOUT_REDIRECT_URL= # Example: protocol://user:password@host:port/path
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH= # Example: "contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'"



# # Enable LDAP# GF_AUTH_LDAP_ENABLED=true
# # LDAP Server Configuration# GF_AUTH_LDAP_CONFIG_SERVERS_0_HOST=ldap# GF_AUTH_LDAP_CONFIG_SERVERS_0_PORT=389# GF_AUTH_LDAP_CONFIG_SERVERS_0_USE_SSL=false
# # Bind Credentials# GF_AUTH_LDAP_CONFIG_SERVERS_0_BIND_DN=cn=ldapservice,dc=ldap,dc=goauthentik,dc=io
# GF_AUTH_LDAP_CONFIG_SERVERS_0_SEARCH_FILTER=(cn=%s)# GF_AUTH_LDAP_CONFIG_SERVERS_0_SEARCH_BASE_DNS=dc=ldap,dc=goauthentik,dc=io

 


# # Group Mapping# - GF_AUTH_LDAP_CONFIG_SERVERS_0_GROUP_MAPPINGS_0_GROUP_DN=cn=admins,ou=groups,dc=example,dc=com# - GF_AUTH_LDAP_CONFIG_SERVERS_0_GROUP_MAPPINGS_0_ORG_ROLE=Admin# - GF_AUTH_LDAP_CONFIG_SERVERS_0_GROUP_MAPPINGS_1_GROUP_DN=cn=editors,ou=groups,dc=example,dc=com# - GF_AUTH_LDAP_CONFIG_SERVERS_0_GROUP_MAPPINGS_1_ORG_ROLE=Editor

