DISCORD_PREFIX= # Example: .
DISCORD_TOKEN= # Example: myhiddentoken
DISCORD_CLIENT_ID= # Example: myhiddenid
DISCORD_MONGO_CLUSTER= # Example: discord-cluster-5ckni.mongodb.net/test
DISCORD_MONGO_USERNAME= # Example: username
DISCORD_MONGO_PASSWORD= # Example: Passw0rd
# DISCORD_MONGO_CLUSTER=discord_bot_mongo/testWOLFRAM_ALPHA_ID= # Example: myhiddenid
FACEBOOK_MAIL= # Example: user.name@gmail.com
FACEBOOK_PASSWORD= # Example: Passw0rd
FACEBOOK_MAIL_2= # Example: user.name@gmail.com
FACEBOOK_PASSWORD_2= # Example: Passw0rd
FACEBOOK_MAIL_MISCORD= # Example: user.name@gmail.com
FACEBOOK_PASSWORD_MISCORD= # Example: Passw0rd
MISCORD_DASHBOARD_USERNAME= # Example: username
MISCORD_DASHBOARD_PASSWORD= # Example: Passw0rd
PYGITHUB_TOKEN= # Example: myhiddentoken
GITHUB_TOKEN= # Example: myhiddentoken
CAPTCHA_WEBSITE_KEY= # Example: myhiddenkey
CAPTCHA_SECRET_KEY= # Example: myhiddenkey
LEEKWARS_USERNAME= # Example: username
BRAWLSTARS_ID= # Example: myhiddenid
BRAWLSTARS_MAIL= # Example: user.name@gmail.com
BRAWLSTARS_PASSWORD= # Example: Passw0rd
BRAWLSTARS_TOKEN= # Example: myhiddentoken
DOCKER_API_URL= # Example: protocol://user:password@host:port/path
DISCORD_BOT_HOST= # Example: 0.0.0.0
DISCORD_BOT_PORT= # Example: 8000
SHORTENER_URL= # Example: protocol://user:password@host:port/path
IALAB_URL= # Example: protocol://user:password@host:port/path
