# mariadbMYSQL_ROOT_PASSWORD= # Example: Passw0rd
MYSQL_DATABASE= # Example: mailcow
MYSQL_USER= # Example: username
MYSQL_PASSWORD= # Example: Passw0rd
MYSQL_INITDB_SKIP_TZINFO= # Example: 0.0.0.0

# ------------------------------# ------------------------------
MAILCOW_HOSTNAME= # Example: user.name@gmail.com

MAILCOW_PASS_SCHEME= # Example: Passw0rd

# ------------------------------# SQL database configuration# ------------------------------
DBNAME= # Example: mailcow
DBUSER= # Example: username

# Please use long, random alphanumeric strings (A-Za-z0-9)
DBPASS= # Example: Passw0rd
DBROOT= # Example: 8v5tSifRaAjLRVObkRbe1F0qjm11

# ------------------------------# HTTP/S Bindings# ------------------------------
# You should use HTTPS, but in case of SSL offloaded reverse proxies:# Might be important: This will also change the binding within the container.# If you use a proxy within Docker, point it to the ports you set below.# IMPORTANT: Do not use port 8081, 9081 or 65510!# Example: HTTP_BIND=1.2.3.4
HTTP_PORT= # Example: 80
HTTP_BIND=

HTTPS_PORT= # Example: 443
HTTPS_BIND=

# ------------------------------# Other bindings# ------------------------------# You should leave that alone# Format: 11.22.33.44:25 or 12.34.56.78:465 etc.
SMTP_PORT= # Example: 25
SMTPS_PORT= # Example: 465
SUBMISSION_PORT= # Example: 587
IMAP_PORT= # Example: 143
IMAPS_PORT= # Example: 993
POP_PORT= # Example: 110
POPS_PORT= # Example: 995
SIEVE_PORT= # Example: 4190
DOVEADM_PORT= # Example: 127.0.0.1:19991
SQL_PORT= # Example: 127.0.0.1:13306
SOLR_PORT= # Example: 127.0.0.1:18983
REDIS_PORT= # Example: 127.0.0.1:7654

# Your timezone# Use the row named 'TZ database name' + pay attention for 'Notes' row
TZ= # Example: Europe/Paris

# Fixed project name# Please use lowercase letters only
COMPOSE_PROJECT_NAME= # Example: mailcow

ACL_ANYONE= # Example: disallow

# Garbage collector cleanup# How long should objects remain in the garbage until they are being deleted? (value in minutes)
MAILDIR_GC_TIME= # Example: user.name@gmail.com

# Additional SAN for the certificate##ADDITIONAL_SAN=imap.*,smtp.*# This will expand the certificate to "imap.example.com", "smtp.example.com", "imap.example.net", "smtp.example.net"# plus every domain you add in the future.## You can also just add static names...#ADDITIONAL_SAN=srv1.example.net# ...or combine wildcard and static names:#ADDITIONAL_SAN=imap.*,srv1.example.com#
ADDITIONAL_SAN= # Example: marcpartensky.com

## You can understand this as server_name directive in Nginx.# Comma separated list without spaces! Example: ADDITIONAL_SERVER_NAMES=a.b.c,d.e.f
ADDITIONAL_SERVER_NAMES=


SKIP_LETS_ENCRYPT= # Example: 0.0.0.0

# Create seperate certificates for all domains - y/nENABLE_SSL_SNI= # Example: n


SKIP_IP_CHECK= # Example: 0.0.0.0


SKIP_HTTP_VERIFICATION= # Example: 0.0.0.0


SKIP_CLAMD= # Example: 0.0.0.0


SKIP_SOGO= # Example: 0.0.0.0


SKIP_SOLR= # Example: 0.0.0.0

# Solr heap size in MB, there is no recommendation, please see Solr docs.# Solr is a prone to run OOM and should be monitored. Unmonitored Solr setups are not recommended.
SOLR_HEAP= # Example: 1024


ALLOW_ADMIN_EMAIL_LOGIN= # Example: user.name@gmail.com


USE_WATCHDOG= # Example: y

# CAUTION:

WATCHDOG_NOTIFY_BAN= # Example: n

#WATCHDOG_SUBJECT=
# No data is collected. Opt-in and anonymous.WATCHDOG_EXTERNAL_CHECKS= # Example: n

# Enable watchdog verbose loggingWATCHDOG_VERBOSE= # Example: n

# Max log lines per service to keep in Redis logs
LOG_LINES= # Example: 9999


IPV4_NETWORK= # Example: 0.0.0.0


IPV6_NETWORK= # Example: 0.0.0.0


#SNAT_TO_SOURCE=

#SNAT6_TO_SOURCE=

#API_ALLOW_FROM=172.22.1.1,127.0.0.1
MAILDIR_SUB= # Example: user.name@gmail.com

# SOGo session timeout in minutesSOGO_EXPIRE_SESSION= # Example: 480

# LEAVE EMPTY IF UNSUREDOVECOT_MASTER_USER= # Example: username
# LEAVE EMPTY IF UNSUREDOVECOT_MASTER_PASS= # Example: Passw0rd

# Let's Encrypt registration contact information# Optional: Leave empty for none# This value is only used on first order!# Setting it at a later point will require the following steps:ACME_CONTACT=

# WebAuthn device manufacturer verification# After setting WEBAUTHN_ONLY_TRUSTED_VENDORS=y only devices from trusted manufacturers are allowedWEBAUTHN_ONLY_TRUSTED_VENDORS= # Example: n

