# –––––––––––––––– REQUIRED ––––––––––––––––
NODE_ENV= # Example: production

# in your terminal to generate a random value.SECRET_KEY= # Example: myhiddenkey

# `openssl rand -hex 32` in your terminal to produce this.UTILS_SECRET= # Example: myhiddensecret

# For production point these at your databases, in development the default# should work out of the box.DATABASE_URL= # Example: protocol://user:password@host:port/path
DATABASE_CONNECTION_POOL_MIN=
DATABASE_CONNECTION_POOL_MAX=
# Uncomment this to disable SSL for connecting to PostgresPGSSLMODE= # Example: disable

REDIS_URL= # Example: protocol://user:password@host:port/path
# use a base64 encoded JSON connection option object. Refer to the ioredis documentation# for a list of available options.# Example: Use Redis Sentinel for high availability# {"sentinels":[{"host":"sentinel-0","port":26379},{"host":"sentinel-1","port":26379}],"name":"mymaster"}
URL= # Example: protocol://user:password@host:port/path
PORT= # Example: 3000

# See [documentation](docs/SERVICES.md) on running a separate collaboration# server, for normal operation this does not need to be set.COLLABORATION_URL= # Example: protocol://user:password@host:port/path

# Specify what storage system to use. Possible value is one of "s3" or "local".# For "local", the avatar images and document attachments will be saved on local disk.FILE_STORAGE= # Example: local

# If "local" is configured for FILE_STORAGE above, then this sets the parent directory under# which all attachments/images go. Make sure that the process has permissions to create# this path and also to write files to it.FILE_STORAGE_LOCAL_ROOT_DIR= # Example: /var/lib/outline/data

# Maximum allowed size for the uploaded attachment.FILE_STORAGE_UPLOAD_MAX_SIZE= # Example: 262144000

# than the document attachment maximum size.FILE_STORAGE_IMPORT_MAX_SIZE=

# and the files are temporary being automatically deleted after a period of time.FILE_STORAGE_WORKSPACE_IMPORT_MAX_SIZE=

# To support uploading of images for avatars and document attachments in a distributed# architecture an s3-compatible storage can be configured if FILE_STORAGE=s3 above.AWS_ACCESS_KEY_ID= # Example: myhiddenid
AWS_SECRET_ACCESS_KEY= # Example: myhiddenkey
AWS_REGION= # Example: xx-xxxx-x
AWS_S3_ACCELERATE_URL= # Example: protocol://user:password@host:port/path
AWS_S3_UPLOAD_BUCKET_URL= # Example: protocol://user:password@host:port/path
AWS_S3_UPLOAD_BUCKET_NAME= # Example: bucket_name_here
AWS_S3_FORCE_PATH_STYLE= # Example: true
AWS_S3_ACL= # Example: private

# –––––––––––––– AUTHENTICATION ––––––––––––––
# Third party signin credentials, at least ONE OF EITHER Google, Slack,# or Microsoft is required for a working installation or you'll have no sign-in# options.
# To configure Slack auth, you'll need to create an Application at# => https://api.slack.com/apps#SLACK_CLIENT_ID= # Example: myhiddenid
SLACK_CLIENT_SECRET= # Example: myhiddensecret

# => https://console.cloud.google.com/apis/credentials#GOOGLE_CLIENT_ID= # Example: myhiddenid
GOOGLE_CLIENT_SECRET= # Example: myhiddensecret

# => https://wiki.generaloutline.com/share/dfa77e56-d4d2-4b51-8ff8-84ea6608faa4AZURE_CLIENT_ID= # Example: myhiddenid
AZURE_CLIENT_SECRET= # Example: myhiddensecret
AZURE_RESOURCE_APP_ID= # Example: myhiddenid


OIDC_CLIENT_ID= # Example: myhiddenid
OIDC_CLIENT_SECRET= # Example: myhiddenid
OIDC_AUTH_URI= # Example: myhiddenid
OIDC_TOKEN_URI= # Example: myhiddenid
OIDC_USERINFO_URI= # Example: myhiddenid
OIDC_LOGOUT_URI= # Example: myhiddenid
OIDC_USERNAME_CLAIM= # Example: myhiddenid
OIDC_DISPLAY_NAME= # Example: myhiddenid
OIDC_SCOPES= # Example: myhiddenid

OIDC_USERNAME_CLAIM= # Example: myhiddenid

OIDC_DISPLAY_NAME= # Example: myhiddenid

# Space separated auth scopes.
# To configure the GitHub integration, you'll need to create a GitHub App at# => https://github.com/settings/apps#GITHUB_CLIENT_ID= # Example: myhiddenid
GITHUB_CLIENT_SECRET= # Example: myhiddensecret
GITHUB_APP_NAME=
GITHUB_APP_ID= # Example: myhiddenid
GITHUB_APP_PRIVATE_KEY= # Example: myhiddenkey

# To configure Discord auth, you'll need to create a Discord Application at# => https://discord.com/developers/applications/#DISCORD_CLIENT_ID= # Example: myhiddenid
DISCORD_CLIENT_SECRET= # Example: myhiddensecret

# integrated with.# metadata such as nicknames, server icon and name.DISCORD_SERVER_ID= # Example: myhiddenid

# allowed to access Outline. If this is not set, all members of the server# will be allowed to access Outline.DISCORD_SERVER_ROLES=

# –––––––––––––––– OPTIONAL ––––––––––––––––
# required if you do not use an external reverse proxy. See documentation:# https://wiki.generaloutline.com/share/1c922644-40d8-41fe-98f9-df2b67239d45SSL_KEY= # Example: myhiddenkey
SSL_CERT=

# If using a Cloudfront/Cloudflare distribution or similar it can be set below.CDN_URL= # Example: protocol://user:password@host:port/path

# Auto-redirect to https in production. The default is true but you may set to# false if you can be sure that SSL is terminated at an external loadbalancer.FORCE_HTTPS= # Example: true

# Have the installation check for updates by sending anonymized statistics to# the maintainersENABLE_UPDATES= # Example: true

# available memory by 512 for a rough estimateWEB_CONCURRENCY= # Example: 1

# You can remove this line if your reverse proxy already logs incoming http# requests and this ends up being duplicativeDEBUG= # Example: http

# Configure lowest severity level for server logs. Should be one of# error, warn, info, http, verbose, debug and sillyLOG_LEVEL= # Example: info

# For a complete Slack integration with search and posting to channels the# following configs are also needed, some more details# => https://wiki.generaloutline.com/share/be25efd1-b3ef-4450-b8e5-c4a4fc11e02a#SLACK_VERIFICATION_TOKEN= # Example: myhiddentoken
SLACK_APP_ID= # Example: myhiddenid
SLACK_MESSAGE_ACTIONS= # Example: true

# and do not forget to whitelist your domain name in the app settingsDROPBOX_APP_KEY= # Example: myhiddenkey

# Optionally enable Sentry (sentry.io) to track errors and performance,SENTRY_DSN=
SENTRY_TUNNEL=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME= # Example: username
SMTP_PASSWORD= # Example: Passw0rd
SMTP_FROM_EMAIL= # Example: user.name@gmail.com
SMTP_REPLY_EMAIL= # Example: user.name@gmail.com
SMTP_TLS_CIPHERS= # Example: 0.0.0.0
SMTP_SECURE= # Example: true

# The default interface language. See translate.getoutline.com for a list of# available language codes and their rough percentage translated.# DEFAULT_LANGUAGE=en_USDEFAULT_LANGUAGE= # Example: fr_FR

# Optionally enable rate limiter at application web serverRATE_LIMITER_ENABLED= # Example: true

# Configure default throttling parameters for rate limiterRATE_LIMITER_REQUESTS= # Example: 1000
RATE_LIMITER_DURATION_WINDOW= # Example: 60

# Iframely API configIFRAMELY_URL= # Example: protocol://user:password@host:port/path
IFRAMELY_API_KEY= # Example: myhiddenkey
