# Database / Postgres service configurationPOSTGRES_USER= # Example: username
POSTGRES_PASSWORD= # Example: Passw0rd
# Postgres database name "peertube"POSTGRES_DB= # Example: peertube
# Editable only with a suffix :#POSTGRES_DB=peertube_prod#PEERTUBE_DB_SUFFIX=_prodPEERTUBE_DB_USERNAME= # Example: username
PEERTUBE_DB_PASSWORD= # Example: Passw0rd
PEERTUBE_DB_SSL= # Example: false
# Default to Postgres service name "postgres" in docker-compose.ymlPEERTUBE_DB_HOSTNAME= # Example: postgres

# Server configurationPEERTUBE_WEBSERVER_HOSTNAME= # Example: peertube.marcpartensky.fr
# If you do not use https and a reverse-proxy in docker-compose.ymlPEERTUBE_WEBSERVER_PORT= # Example: 80
PEERTUBE_WEBSERVER_HTTPS= # Example: false
PEERTUBE_TRUST_PROXY= # Example: ["127.0.0.1", "loopback", "172.16.0.0/12", "192.168.0.0/16", "10.0.0.0/8"]

# If you use a Custom SMTP server# Default to Postfix service name "postfix" in docker-compose.yml# May be the hostname of your Custom SMTP serverPEERTUBE_SMTP_HOSTNAME= # Example: marcpartensky.com
PEERTUBE_SMTP_PORT= # Example: 25
PEERTUBE_SMTP_FROM= # Example: noreply@marcpartensky.com
PEERTUBE_SMTP_TLS= # Example: false
PEERTUBE_SMTP_DISABLE_STARTTLS= # Example: false
PEERTUBE_ADMIN_EMAIL= # Example: user.name@gmail.com

# Postfix service configurationPOSTFIX_myhostname= # Example: marcpartensky.com
OPENDKIM_DOMAINS= # Example: marcpartensky.com
# see https://github.com/wader/postfix-relay/pull/18OPENDKIM_RequireSafeKeys= # Example: myhiddenkey

# /!\ Prefer to use the PeerTube admin interface to set the following configurations /!\#PEERTUBE_SIGNUP_ENABLED=true#PEERTUBE_TRANSCODING_ENABLED=true#PEERTUBE_CONTACT_FORM_ENABLED=truePEERTUBE_SECRET= # Example: myhiddensecret
