POSTGRES_HOST= # Example: postgres
POSTGRES_DB= # Example: authentik dockerdash etesync etherpad focalboard gitea grafana matrix nextcloud owncloud peertube postgres vaultwarden wallabag website wger
POSTGRES_USER= # Example: username
POSTGRES_PASSWORD= # Example: Passw0rd
POSTGRES_EXTRA_OPTS= # Example: -Z6 --schema=public --blobs
SCHEDULE= # Example: @daily
BACKUP_KEEP_DAYS= # Example: 7
BACKUP_KEEP_WEEKS= # Example: 4
BACKUP_KEEP_MONTHS= # Example: 6
HEALTHCHECK_PORT= # Example: 8080
