MYSQL_HOST= # Example: 192.168.0.145
MYSQL_DATABASE= # Example: prospectix
MYSQL_USER= # Example: username
MYSQL_PASSWORD= # Example: Passw0rd
MYSQL_RANDOM_ROOT_PASSWORD= # Example: Passw0rd
DATA_PATH= # Example: "data.yaml"
SCHTROUMPFIX_JS= # Example: "schtroumpfix.js"
