# dbMYSQL_ROOT_PASSWORD= # Example: Passw0rd
MYSQL_LOG_CONSOLE= # Example: true

# seafileDB_HOST= # Example: db
DB_ROOT_PASSWD= # Example: Passw0rd
# # Optional, default is UTC. Should be uncomment and set to your local time zone.TIME_ZONE= # Example: Europe/Paris
SEAFILE_ADMIN_EMAIL= # Example: user.name@gmail.com
SEAFILE_ADMIN_PASSWORD= # Example: Passw0rd
# Whether to use https or not.SEAFILE_SERVER_LETSENCRYPT= # Example: false
# Specifies your host name if https is enabled.SEAFILE_SERVER_HOSTNAME= # Example: seafile.marcpartensky.com
