TIMEASSISTANT_NEXTCLOUD_URL= # Example: protocol://user:password@host:port/path
TIMEASSISTANT_NEXTCLOUD_USER= # Example: username
TIMEASSISTANT_NEXTCLOUD_PASSWORD= # Example: Passw0rd
TIMEASSISTANT_NEXTCLOUD_BOARD= # Example: "-Todolist"


GRANIAN_RELOAD= # Example: 0

GRANIAN_INTERFACE= # Example: asgi
GRANIAN_HOST= # Example: 0.0.0.0
GRANIAN_PORT= # Example: 8000
GRANIAN_LOGLEVEL= # Example: info
GRANIAN_LOG_ACCESS_ENABLED= # Example: 1
