DJANGO_SETTINGS_MODULE= # Example: django_project.settings
ID_CLIENT= # Example: myhiddenid
SECRET_KEY_CLIENT= # Example: myhiddenkey
SECRET_KEY= # Example: myhiddenkey
REDIS_URL= # Example: protocol://user:password@host:port/path
POSTGRES_DB= # Example: website
POSTGRES_NAME= # Example: website
POSTGRES_USER= # Example: username
POSTGRES_PASSWORD= # Example: Passw0rd
POSTGRES_HOST= # Example: postgres
POSTGRES_PORT= # Example: 5432
DEBUG= # Example: false
DJANGO_SUPERUSER_USERNAME= # Example: username
DJANGO_SUPERUSER_EMAIL= # Example: user.name@gmail.com
DJANGO_SUPERUSER_PASSWORD= # Example: Passw0rd
