WORDPRESS_DB_HOST= # Example: wordpress_mysql
WORDPRESS_DB_NAME= # Example: wordpress
WORDPRESS_DB_USER= # Example: username
WORDPRESS_DB_PASSWORD= # Example: Passw0rd
MYSQL_DATABASE= # Example: wordpress
MYSQL_USER= # Example: username
MYSQL_PASSWORD= # Example: Passw0rd
MYSQL_RANDOM_ROOT_PASSWORD= # Example: Passw0rd
# WORDPRESS_TABLE_PREFIX=...PMA_HOST= # Example: wordpress_mysql
PMA_USER= # Example: username
PMA_PASSWORD= # Example: Passw0rd
PMA_ARBITRARY= # Example: 1
