TRAEFIK_PROVIDERS_DOCKER= # Example: myhiddenid
TRAEFIK_PROVIDERS_FILE_FILENAME= # Example: myhiddenid
CLOUDFLARE_DNS_API_TOKEN= # Example: myhiddentoken
CLOUDFLARE_ZONE_API_TOKEN= # Example: myhiddentoken
TRAEFIK_API_INSECURE= # Example: false
TRAEFIK_API_DASHBOARD= # Example: true
## API Settings - https://docs.traefik.io/operations/api/, endpoints - https://docs.traefik.io/operations/api/#endpoints ##TRAEFIK_API_DEBUG= # Example: true
TRAEFIK_ENTRYPOINT_WEB_ADDRESS= # Example: :80
TRAEFIK_ENTRYPOINT_WEBSECURE_ADDRESS= # Example: :443
TRAEFIK_CERTIFICATESRESOLVERS_TLS_ACME_TLSCHALLENGE= # Example: true
TRAEFIK_CERTIFICATESRESOLVERS_TLS_ACME_EMAIL= # Example: user.name@gmail.com
TRAEFIK_CERTIFICATESRESOLVERS_TLS_ACME_STORAGE= # Example: /letsencrypt/acme.json
TRAEFIK_LOG_LEVEL= # Example: DEBUG
## Entrypoints Settings - https://docs.traefik.io/routing/entrypoints/#configuration ##TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_TO= # Example: websecure
TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_SCHEME= # Example: https
TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_PERMANENT= # Example: true
