DB_NAME= # Example: brainperformer
DB_USER= # Example: username
DB_PASSWORD= # Example: Passw0rd
DB_HOST= # Example: 0.0.0.0
RECAPTCHA_SECRET_KEY= # Example: myhiddenkey
MAIL= # Example: user.name@gmail.com
MAIL_PASSWORD= # Example: Passw0rd

MYSQL_DATABASE= # Example: brainperformer
MYSQL_USER= # Example: username
MYSQL_PASSWORD= # Example: Passw0rd
MYSQL_ROOT_HOST= # Example: 0.0.0.0
MYSQL_RANDOM_ROOT_PASSWORD= # Example: Passw0rd
