SYMFONY__ENV__DATABASE_DRIVER= # Example: pdo_pgsql
SYMFONY__ENV__DATABASE_HOST= # Example: postgres
SYMFONY__ENV__DATABASE_PORT= # Example: 5432
SYMFONY__ENV__DATABASE_NAME= # Example: wallabag
SYMFONY__ENV__DATABASE_USER= # Example: username
SYMFONY__ENV__DATABASE_PASSWORD= # Example: Passw0rd
# SYMFONY__ENV__DATABASE_CHARSET=utf8mb4SYMFONY__ENV__DATABASE_CHARSET= # Example: utf8
SYMFONY__ENV__MAILER_HOST= # Example: user.name@gmail.com
SYMFONY__ENV__MAILER_USER= # Example: user.name@gmail.com
SYMFONY__ENV__MAILER_PASSWORD= # Example: Passw0rd
SYMFONY__ENV__FROM_EMAIL= # Example: user.name@gmail.com
SYMFONY__ENV__DOMAIN_NAME= # Example: https://wallabag.marcpartensky.fr
SYMFONY__ENV__SERVER_NAME= # Example: "Wallabag of Marc Partensky"
