# This is a template dotenv file. You should copy it and then modify it to fit# your setup. These environment variables won't do anything unless copied into# a file called `.env.test`. There, they'll be used to determine information# about the test environment.## This is useful because we want the test environment to have a different# configuration from the development environment. That way, we can run# the automated test suites without worrying about their impact on the database# we use for development.## For more information, see the Automated Testing Documentation.# https://docs.suitecrm.com/developer/automatedtesting/
#== Install Test Suite:
# MYSQL or MSSQLDATABASE_DRIVER= # Example: MYSQL

# Path to database serverDATABASE_HOST= # Example: localhost

# Name of the databaseDATABASE_NAME= # Example: automated_tests

DATABASE_USER= # Example: username

DATABASE_PASSWORD= # Example: Passw0rd

#== Acceptance, API, and Install Test Suites:
INSTANCE_URL= # Example: protocol://user:password@host:port/path

INSTANCE_ADMIN_USER= # Example: username

INSTANCE_ADMIN_PASSWORD= # Example: Passw0rd

#== API Test Suite:
INSTANCE_CLIENT_ID= # Example: myhiddenid

INSTANCE_CLIENT_SECRET= # Example: myhiddensecret

# Default web browser for acceptance and install testsBROWSER= # Example: chrome

# Webdriver hostname (Selenium, Local or Cloud Testing)WEBDRIVER_HOST= # Example: 127.0.0.1

# Webdriver port (Selenium, Local or Cloud Testing)WEBDRIVER_PORT= # Example: 4444
