# SERVER_COUNTRIES: France# WireguardVPN_TYPE= # Example: 0.0.0.0
VPN_SERVICE_PROVIDER= # Example: myhiddenid
VPN_ENDPOINT_IP= # Example: 0.0.0.0
VPN_ENDPOINT_PORT= # Example: 0.0.0.0
WIREGUARD_PUBLIC_KEY= # Example: myhiddenkey
WIREGUARD_PRIVATE_KEY= # Example: myhiddenkey
WIREGUARD_ADDRESSES= # Example: 192.168.6.78/32
