SYNC_HOST= # Example: 0.0.0.0
SYNC_MASTER_SECRET= # Example: myhiddensecret
SYNC_TOKENSERVER__DATABASE_URL= # Example: myhiddentoken
SYNC_TOKENSERVER__RUN_MIGRATIONS= # Example: myhiddentoken
SYNC_DATABASE_URL= # Example: protocol://user:password@host:port/path
